---
import { getSectionArticles } from '../../lib/getSectionArticles';
const newsData = await getSectionArticles('News', 5);
const humourData = await getSectionArticles('Humour', 5);
import './Archive.css';
---

<div class="archive-page">
  <header class="page-header">
    <img
      src="https://lrhddyosfvnhpxojsjpa.supabase.co/storage/v1/object/public/images/archive/cg-logo-archive.png"
      alt="Cheese Grater Magazine"
      style="width: 1020px;"
    />
    <nav class="header-nav">
      <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/news">INVESTIGATIONS</a></li>
        <li><a href="/humour">HUMOUR</a></li>
        <li><a href="/past-issues">BACK ISSUES</a></li>
        <li><a href="/about">ABOUT US</a></li>
        <li><a href="/contact-us">CONTACT</a></li>
      </ul>
    </nav>
  </header>

  <main class="page-body">
    <div class="content">
      <section class="section">
        <a href="/news">
          <img
            src="https://lrhddyosfvnhpxojsjpa.supabase.co/storage/v1/object/public/images/archive/cg-invest-top.png"
            alt="Investigations"
          />
        </a>

        <div class="body">
          <img
            src="https://lrhddyosfvnhpxojsjpa.supabase.co/storage/v1/object/public/images/archive/cg-detective.png"
          />

          <div class="content">
            {
              newsData?.articles.map((article) => (
                <article>
                  <a href={`/article/${article.slug}/#`}>
                    <h3>{article.title}</h3>
                    <p>{article.summary}</p>
                  </a>
                </article>
              ))
            }
          </div>
        </div>
      </section>

      <section class="section">
        <a href="/humour">
          <img
            src="https://lrhddyosfvnhpxojsjpa.supabase.co/storage/v1/object/public/images/archive/cg-humour-top.png"
            alt="Humour"
          />
        </a>

        <div class="body">
          <img
            src="https://lrhddyosfvnhpxojsjpa.supabase.co/storage/v1/object/public/images/archive/cg-jester.png"
          />

          <div class="content">
            {
              humourData?.articles.map((article) => (
                <article>
                  <a href={`/article/${article.slug}/#`}>
                    <h3>{article.title}</h3>
                    <p>{article.summary}</p>
                  </a>
                </article>
              ))
            }
          </div>
        </div>
      </section>
    </div>

    <img
      class="print-img"
      src="https://lrhddyosfvnhpxojsjpa.supabase.co/storage/v1/object/public/past-issues/CG93-Autumn-2025-updated.png"
    />
  </main>

  <footer class="page-footer">
    <p>
      © The Cheese Grater Magazine Society, Students' Union UCL, 2/F Bloomsbury
      Theatre, 15 Gordon Street, London, WC1H 0AH<br />This is a faithful
      recreation of the <i>Cheese Grater</i> website circa 2012-2016.<br />Just
      goes to show how far we've come, eh?<br />For the original reference see
      this <a
        href="https://web.archive.org/web/20120724103754/http://www.cheesegratermagazine.org/"
        target="_blank">archived link</a
      >.
    </p>
  </footer>
</div>
