---
import CCard from "../../components/cards/CCard";
import { formatDate } from '../../methods/formatting';

const { query, results } = Astro.props;
---

<section class="search-page">
  <h1>
    {query
      ? `Search results for “${query}”`
      : "Search"}
  </h1>

  {query && results.length === 0 && (
    <p>No results found.</p>
  )}

  <ul class="card-grid">
    {results.map((article) => (
      <li>
        <CCard
          slug={article.slug}
          section={article.section}
          title={article.title}
          image={article.image_url ?? article.author_thumbnail}
          tag={article.subsection}
          date={formatDate(article.date_published)}
          category="subpage"
        />
      </li>
    ))}
  </ul>
</section>

<style>
  .search-page {
    display: grid;
    padding: 2rem 10rem;
    gap: 2rem;
  }

  .search-page h1 {
    color: var(--cg-font);
  }

  .search-page p {
    color: var(--cg-font);
    font-family: "Libre Baskerville";
  }

  .card-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style: none;
    margin: 0;
    gap: 2rem;
  }

  @media (max-width: 1024px) {
    .card-grid {
      grid-template-columns: 1fr 1fr;
      padding: 1.5rem;
    }
  }
</style>
