---
// src/pages/index.astro
export const prerender = true;

import Home from '../components/home/Home';
import HomeMobile from '../components/home/HomeMobile';
import { getSectionArticles } from '../lib/getSectionArticles';

const voices = await getSectionArticles('Voices', 9);
const investigations = await getSectionArticles('News', 9);
const humour = await getSectionArticles('Humour', 9);

import BaseLayout from '../layouts/BaseLayout.astro';
import BestPub from '../components/home/BestPub.astro';
import Newsletter from '../components/home/Newsletter.astro';
import Podcast from '../components/home/Podcast.astro';
import ArticleList from '../components/home/ArticleList.astro';

import '../styles/home.css';
---

<BaseLayout title="The Cheese Grater Magazine">
  <div class="desktop">
    <Home
      voices={voices}
      investigations={investigations}
      humour={humour}
      client:load
    />
  </div>
  <div class="mobile">
    <HomeMobile
      voices={voices}
      investigations={investigations}
      humour={humour}
      client:load
    />
  </div>
  <BestPub />
  <ArticleList data={investigations} />
  <Podcast />
  <ArticleList data={humour} />
  <Newsletter />
  <ArticleList data={voices} />
</BaseLayout>
